@page
@model IndexModel
@{
    ViewData["Title"] = "Dylan Rothbauer Portfolio Experience";
}

<h1 class="title">Experience</h1>
<main role="main" class="container">
    <section id="experience" class="my-5">
        <div class="row">
            <div class="col-md-12">
                @* <h2 class="mb-4">Experience</h2> *@
                <div class="experience-item">
                    <h3>Associate Software Engineer</h3>
                    <p class="text-muted">Heartland Business Systems - Little Chute, WI</p>
                    <p class="text-muted">May 2024 - Sept 2024</p>
                        <p>Responsibilities and achievements.</p>
                        <!-- Add more bullet points -->
                </div>
                <div class="experience-item">
                    <h3>Assistant Store Leader</h3>
                    <p class="text-muted">Kwik Trip - Eau Claire, WI</p>
                    <p class="text-muted">Oct 2020 - Sept 2021</p>
                    <p>Trained new hires in company policies, product knowledge, and customer service, resulting in consistent and exceptional customer experiences</p>
                    <p>Proactively addressed customer concerns and resolved issues, maintaining a 98% customer satisfaction rate</p>
                    <p>Led a team of 32 employees, fostering a positive and collaborative work environment that resulted in exceeding our food budget goals</p>
                </div>
                <div class="experience-item">
                    <h3>Assistant Manager</h3>
                    <p class="text-muted">QuikTrip - Charlotte, NC</p>
                    <p class="text-muted">Oct 2017 - Sept 2020</p>
                    <p>Assisted in managing daily store operations, overseeing a team of 21 employees and ensuring seamless workflow</p>
                    <p> Assumed leadership responsibilities in the absence of the Store Manager, ensuring continuity of operations and maintaining high standards</p>
                    <p>Resolved difficult performance issues with professionalism, fairness, and consistency and issued discipline when necessary</p>
                </div>

            </div>
        </div>
    </section>

    @* <section id="experience" class="my-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4">Experience</h2>
                <div class="experience-item">
                    <h3>Associate Software Engineer</h3>
                    <p class="text-muted">Heartland Business Systems - Little Chute, WI</p>
                    <p class="text-muted">May 2024 - Sept 2024</p>
                    <p>Responsibilities and achievements.</p>
                    <!-- Add more bullet points -->
                </div>
                <div class="experience-item">
                    <h3>Assistant Store Leader</h3>
                    <p class="text-muted">Kwik Trip - Eau Claire, WI</p>
                    <p class="text-muted">Oct 2020 - Sept 2021</p>
                    <p>Trained new hires in company policies, product knowledge, and customer service, resulting in consistent and exceptional customer experiences</p>
                    <p>Proactively addressed customer concerns and resolved issues, maintaining a 98% customer satisfaction rate</p>
                    <p>Led a team of 32 employees, fostering a positive and collaborative work environment that resulted in exceeding our food budget goals</p>
                </div>
                <div class="experience-item">
                    <h3>Assistant Manager</h3>
                    <p class="text-muted">QuikTrip - Charlotte, NC</p>
                    <p class="text-muted">Oct 2017 - Sept 2020</p>
                    <p>Assisted in managing daily store operations, overseeing a team of 21 employees and ensuring seamless workflow</p>
                    <p> Assumed leadership responsibilities in the absence of the Store Manager, ensuring continuity of operations and maintaining high standards</p>
                    <p>Resolved difficult performance issues with professionalism, fairness, and consistency and issued discipline when necessary</p>
                </div>

            </div>
        </div>
    </section> *@

</main>