@page
@model IndexModel
@{
    ViewData["Title"] = "Dylan Rothbauer Portfolio";
}

<h1 class="title">Dylan's Portfolio</h1>

<main role="main" class="container">
    <section id="about" class="my-5">
        <div class="row">

            <div class="col-md-6">
                <h4>Hello, my name is</h4>
                <h1 class="display-4">Dylan Rothbauer</h1>
                <h4 class="profession">Software Engineer</h4>

                <p>Welcome to my portfolio!</p>
                <p>Learn more <a href="/AboutMe">about me</a>.</p>
                <p>Check out my resume <a href="~/Documents/Resume.pdf" target="_blank">here</a></p>
            </div>

            <div class="col-md-6">
                <!-- Add an image of yourself or a relevant image here -->
                <img src="~/images/image.jpg" alt="Dylan Rothbauer" class="rounded-circle img-fluid friendly-image">
            </div>
        </div>

        
    </section>
</main>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
